<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Barang</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<style>
    tr:nth-child(odd) {background-color: #E0E0E0;}
</style>
<body>
<nav th:replace="fragments/fragment :: navbar('Barang')"></nav>
<div class="container">
    <br>
    <div class="card m-4 p-4 border-0">
        <div class="card-body">
            <h2 style="text-align: center">Daftar Barang</h2><br>
            <a class="btn btn-primary font-weight-bold" style="text-color: #FFFFFF" th:href="@{/barang/tambah}">+Tambah Barang</a><br><br>
            <div th:if="*{listBarang.size() != 0}">
                <table class="table border-0" style="text-align: center">
                    <thead>
                    <tr class="font-weight-bold" style="background-color: #ffb800">
                        <th>No.</th>
                        <th>Nama</th>
                        <th>Harga</th>
                        <th>Tipe</th>
                        <th>Stok</th>
                        <th>Aksi</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="barang : ${listBarang}">
                        <td th:text="${barang.idBarang}"></td>
                        <td th:text="${barang.namaBarang}"></td>
                        <td th:text="'Rp' + ${barang.hargaBarang}"></td>
                        <td th:text="${barang.tipe.namaTipe}"></td>
                        <td th:text="${barang.stok}"></td>
                        <td>
                            <a class="btn font-weight-bold" style="background-color: #58CBEF; text-color: #000" th:href="@{/barang/} + ${barang.idBarang}">Lihat</a>
                            <a class="btn font-weight-bold" style="background-color: #ffb800; text-color: #000" th:href="@{/barang/ubah/} + ${barang.idBarang}">Ubah</a>
                            <a class="btn font-weight-bold" style="background-color: #FF0000; text-color: #000" th:href="@{/barang/hapus/} + ${barang.idBarang}">Hapus</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <br>
            </div>
        </div>
    </div>
</div>
</body>
</html>